.Product {
  width: 30%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.ProductImage {
  width: 100px;
  height: 100px;
}

.Description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ButtonAsLink {
  display: block;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}