.ThumbProduct {
  height: 100%;
  background-color: white;
  text-align: center;
  display: block;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.ProductImage {
  width: 30px;
  height: 30px;
}

.ProductImage span {
  font-size: small;
}

.Info {
  display: grid;
}